@font-face{
    font-family:CGF;
    src:url(resistance/CGF.ttf);
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background:url(gw.jpg) ;
    background-size: cover;
    color: #fff;
    
    
}
.wrap{
    width: 100%;
    max-width: 1200px;
    position: relative;
    top: 10px;
    left: 900px;
    
}
.widget{
    width: 40%;
    margin: 2em;
}
.widget p {
    display: inline-block;
    line-height: 1em;
}
.fecha{
    font-family: CGF;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.3125rem;
    background: rgba(0,0,0,.5);
    padding: 20px;
    width: 100%;
}
.reloj{
   font-family: CGF;
    width: 100%;
    padding: 10px;
    font-size: 4em;
    text-align: center;
    background: rgba(0,0,0,.5);
    
}
.reloj .caja-segundos{
    display: inline-block;
}
.reloj .segundos,
.reloj .ampm{
    font-size: 2rem;
    display: block;
}